erc-znc-password
url/
tramp
saved-places
init.html
init-tangled.el
elpa/
backups/
auto-save-list/
\#*#
/.bookmarks.el
/recentf
eshell/
ac-comphist.dat
cider-history
helm-adaptive-history
/projectile-bookmarks.eld
/projectile.cache
